# results
*.csv
*.rds
*.pickle
*.feather
*.parquet
*.xlsx
*.zip
*.log
*.toc
*.lof
*.lot
*.rmarkdown

**/*.csv
**/*.rds
**/*.pickle
**/*.feather
**/*.parquet
**/*.xlsx
**/*.zip
**/*.log
**/*.toc
**/*.lof
**/*.lot
**/*.rmarkdown

nul


